h1 {
  font-family: Sacramento;
}
body {
  margin: 0px;
  text-align: center;
  font-family: serif;
}
.top {
  background-color: #b6eada;
  position: relative;
  padding-top: 100px;
}
.scloud {
  position: absolute;
  right: 200px;
  top: 40px;
}
.ecloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.title {
  font-size: 70px;
  color: #00425a;
}
.middle {
  margin: 100px 0px;
}
h2 {
  color: #5b8fb9;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
}
.intro {
  width: 30%;
  margin: auto;
}
hr {
  border: dotted #b6eada 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}
.skills {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.anime {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 10px;
}
.coffee {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100px;
}
.skills-row {
  width: 100%;
  margin: 100px auto;
  text-align: left;
}
.msg {
  width: 50%;
  margin: 45px auto 55px auto;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #19384d);
  background-image: -moz-linear-gradient(top, #3cb0fd, #19384d);
  background-image: -ms-linear-gradient(top, #3cb0fd, #19384d);
  background-image: -o-linear-gradient(top, #3cb0fd, #19384d);
  background-image: linear-gradient(to bottom, #3cb0fd, #19384d);
  text-decoration: none;
}
.bottom {
  background-color: #3498db;
  padding: 60px 0 30px 0;
}
a {
  color: whitesmoke;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat';
}
a:hover {
  color: black;
}
.copyright {
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
}
h3 {
  color: #3498db;
  font-family: 'Montserrat';
}
p {
  line-height: 2;
  font-family: 'Montserrat';
  font-size: 15px;
}
